body {
  background-color: #4F2311;
}

h1 {
  color: #9C3B11;
  text-align: center;
}

h2 {
text-align: center;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  background-color: #315C1C;
}